* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --themeBgColor: #0000ffa1;
  --themeDarkbg: #4572a9d1;
}
.nav-ui {
  background-color: var(--themeBgColor);
  height: 44px;
}
.nav-ui li {
  display: inline-block;
  padding: 10px;
}
.nav-ui li a {
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  padding: 5px 12px;
  font-size: 0.875rem;
}
.active {
  background: var(--themeDarkbg);
  border-radius: 4px;
}

/* register */
.register {
  width: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.register h1 {
  text-align: start !important;
  margin-bottom: 20px;
}
.register input {
  margin-bottom: 16px;
  margin-left: 36x;
  padding: 12px 16px;
  border: 1px solid var(--themeBgColor);
  outline: none;
}
.register button {
  width: 20%;
  padding: 8px;
  margin-left: 36x;
  outline: none;
  border: 1px solid var(--themeBgColor);
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  background-color: var(--themeBgColor);
  border-radius: 4px;
}

.already-account {
  text-align: start;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 500;
}
.already-account > a {
  font-size: 14px;
  text-decoration: underline;
  color: var(--themeBgColor);
}

.footer-container {
  text-align: center;
  padding: 16px;
  background: var(--themeBgColor);
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-block {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: #ffffffbd;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  z-index: 9999 !important;
  opacity: 1;
  top: 0;
  bottom: 0;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

